<div class="searchBar">
  <div class="container">
    <form class="search" role="search" action="/search" method="POST">
      <input type="search" name="searchTerm" placeholder="Search..." />
    </form>
    <div id="searchClose">Close</div> 
  </div>
</div>
